<!DOCTYPE html>
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-offset-1">
				<br><br><br><br>
                 <!--   <p class="title">Make money helping people</p>-->
		
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>How it works:</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
                <h3>Register for an account</h3>
				<img src="/images/registerImg.png" width="180" alt="">
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
                <h3><br>Browse the deeds posted by other users or post your own</h3>
				<img src="/images/searchImg.png" width="180" alt="">

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
                <h3><br>Complete deeds to earn cash and help people in the process</h3>
				<img src="/images/tickImg.png" width="180" alt="">

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->

	<div class="container">
		
		<div class="row centered">
			
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		
		<p class="centered">Created by Simon Gillespie and Jack Quane - 2018</p>
	</div><!-- /container -->
