<!DOCTYPE html>
<br><br><br><br><br>
<link rel="stylesheet" href="stylesheets/chat.css">
<div class="well col-xs-6 col-xs-offset-3">
	<div class="form-group">
		<div class = 'users'>
			<div class="col-xs-12">
			
				<!-- This is removed for the users list -->
				<!-- <div class="user-name">Name: <span>void</span></div>-->
				<div class="user-names">
				
				
					<div class="user-name">
					
					</div>
					<div class="chat-url">
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>